body{
    background-color: #ceb2b2;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #f91098;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    color: white;
}

tr{
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;
}

tr:hover{
    background-color: #f2f2f2;
}

td{
    padding: 12px;
    border-right: 1px solid #ddd; 
}

td:last-child{
    border-right: none; 
}

#botaoCarregar{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #850585;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

#botaoCarregar:hover{
    background-color: #464a4d;
}
